.element-container {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

mat-card > mat-form-field {
  display: block;
  width: 100%;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.attributes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & > div {
    flex-basis: 48%;

    & > p {
      text-align: center;
    }
  }
}
