.element-container {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;

  app-element-editor {
    flex-grow: 1;
    flex-shrink: 0.25;
    padding: 10px;
  }
}

mat-card > mat-form-field {
  display: block;
  width: 100%;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.attributes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & > div {
    flex-basis: 48%;
  }
}

.heading {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
