<mat-card>
  <mat-form-field>
    <input matInput placeholder="Name" type="text" [(ngModel)]="element.name" required>
  </mat-form-field>

  <div class="attributes">
    <div>
      <p class="heading" (click)="toggleDisplay('inputs')"><strong>Inputs</strong><mat-icon>{{'keyboard_arrow_' + (display.inputs ? 'up' : 'down') }}</mat-icon></p>

      <mat-list *ngIf="display.inputs">
        <mat-list-item *ngFor="let input of element.inputs; let i = index;">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="input.name" placeholder="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="input.type" placeholder="type" required>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="input.required">Required</mat-checkbox>
          <button (click)="removeInput(i)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button matTooltip="Add input" mat-raised-button (click)="addInput()" color="primary" class="btn-block">Add input <mat-icon>add</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <p class="heading" (click)="toggleDisplay('outputs')"><strong>Outputs</strong><mat-icon>{{'keyboard_arrow_' + (display.outputs ? 'up' : 'down') }}</mat-icon></p>
      <mat-list *ngIf="display.outputs">
        <mat-list-item *ngFor="let output of element.outputs; let i = index;">
          <mat-form-field>
            <input matInput id="output-name" type="text" [(ngModel)]="output.name" required placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="output.type" required placeholder="Type">
          </mat-form-field>
          <button mat-icon-button (click)="removeOutput(i)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="addOutput()" mat-raised-button color="primary" class="btn-block">Add Output<mat-icon>add</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <br>
  <button (click)="add()" mat-raised-button color="primary" class="btn-block">Add element <mat-icon>add</mat-icon></button>
  <br>
  <button (click)="remove()" mat-raised-button color="warn" class="btn-block">Remove this element <mat-icon>delete</mat-icon></button>


  <p class="heading" *ngIf="element.elements?.length" (click)="toggleDisplay('childs')"><strong>Childs</strong><mat-icon>{{'keyboard_arrow_' + (display.childs ? 'up' : 'down') }}</mat-icon></p>
  <div class="element-container" *ngIf="display.childs">
    <app-element-editor *ngFor="let element of element.elements; let i = index;" [element]="element"
                 (removeElement)="handleRemove(i)"></app-element-editor>
  </div>
</mat-card>
