/* You can add global styles to this file, and also import other style files */
@import "theme";

body {
  @include angular-material-theme($electric-app-theme);
}

.mat-list-item-content {
  justify-content: space-between !important;
  padding: 0 !important;

  & > * {
    flex-grow: 1;
    padding: 0 10px;
  }

  &:first-child {
    padding: 0 10px 0 0;
  }

  &:last-child {
    padding: 0 0 0 10px;
  }
}

.mat-tab-label {
  flex-grow: 1;
}
